/* (C) Copyright Bobbing Wide 2015, 2016, 2022 */
/* Styling for the output of oik-themes to be similar to wordpress.org for the TwentyTwelve theme
   and different for Genesis based themes
*/ 


div.theme-info { width: 100%; }
div.theme-body { background-color: #ffffff; margin-top: 0px; padding: 10px 20px; }
div.theme-info:after { clear: left; }

.theme-info ul#sections li {
	line-height: 1;
	display: block;
	float: left;
	padding: 8px 8px 9px;
	margin: 0;
}

.theme-info ul#sections li.current {
	padding-top: 7px;
	background-color: #fff;

	border-style: solid;
	border-width: 1px 1px 0 1px;
	border-color: #d7d7d7;

	-webkit-box-shadow: 0 0 8px 0px rgba( 100, 100, 100, 0.12 );
	-moz-box-shadow: 0 0 8px 0px rgba( 100, 100, 100, 0.12 );
	box-shadow: 0 0 8px 0px rgba( 100, 100, 100, 0.12 );

	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.theme-info ul>li:before { content: none; }


/**
 * Version for genesis based themes
 *
 * This uses a box shadow to place a narrower line than you'd get with a border.
 */

.entry-content .theme-info ul#sections li.current,
.entry-content .theme-info ul#sections li:hover {
	padding-top: 7px;
	background-color: #fff;

	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-color: #5b6021;
	
	box-shadow: 0 8px 6px -6px #5b6021;

}


.bw_accordion_item pre {
	overflow: auto;
	font-size: 0.8em;
}

